.wapper {
    margin: auto;
    font-size: 1.6rem;
}
.header {
    margin-top: 12px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 180px;
}
.logo-header {
    width: 100%;
}
.nav-bar {
    display: flex;
}
.menu {
    display: flex;
    margin-right: 12px;
}
.menu-item {
    list-style: none;
    padding: 0 12px;
}
.menu-item:hover {
    color: var(--cl-black);
    background-color: var(--cl-white);
    border-radius: 8px;
    border: solid 1px var(--cl-black);
}
.menu-item:active {
    background-color: var(--cl-gray);
    border: solid 1px transparent;
}
.menu-link {
    text-decoration: none;
    color: var(--cl-black);
    font-size: 1.6rem;
    line-height: 46px;
    font-weight: 500;
}
.header-banner {
    width: 100%;
    background-color: #f4f6f5;
    border-radius: 59px;
    margin-top: 56px;
    /* margin-left: 10px; */
    /* padding-top: 68px; */
}
.content-banner {
    margin-top: 68px;
    margin-left: 80px;
    margin-bottom: 38px;
}
.title-banner {
    margin-bottom: 32px;
    line-height: 82px;
    font-size: 7.2rem;
    font-weight: 800;
}
.img-banner {
    display: block;
    width: 100%;
    align-items: flex-end ;
}
.title-dec {
    margin: 32px 0;
}
.highlight-title {
    position: relative;
    z-index: 1;
}
.highlight-title::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    width: 322px;
    height: 82px;
    background-color: #fff;
    transform: rotate(-2deg);
    z-index: -1;
}
.highlight-title-brand {
    position: relative;
    z-index: 1;
}
.highlight-title-brand::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    width: 372px;
    height: 88px;
    background-color: var(--cl-brand);
    transform: rotate(-2deg);
    z-index: -1;
}
.bg-cl-br {
    background-color: var(--cl-brand);
}
.bdr-none {
    border-radius: 0 !important;
}
.flex {
    display: flex;
}
.fl-center {
    justify-content: center;
    align-items: center;
}
.ads-brand {
    width: 1290px;
    height: 140px;
    display: flex;
    /* align-items: center; */
    justify-content:space-around;
    background-color: var(--cl-brand);
}
.ads-brand-item {
    text-align: center;
}
.ads-logo {
    height: 60px;
    margin-top: 40px;
    mix-blend-mode: multiply;
}

.content {
    margin-top: 36px;
    margin-bottom: 36px;
}
.content__header {
    font-size: 36px;
    font-weight: 600;
    margin: 36px 0;
}
.u-line {
    position: relative;
}
.u-line::after{
    content: "";
    position: absolute;
    height: 28px;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: var(--cl-brand);
    z-index: -1;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 2%;
}

.content__item {
    margin-top: 24px;
    margin-bottom: 24px;
}

.content__img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.content__text {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}
.content__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.content__dec {
    font-size: 1.6rem;
    color: var(--cl-text-dec);
}
.content__icon {
    font-size: 2rem;
    color: var(--cl-text-dec);
}
.gradient-cl-br {
    background-image: radial-gradient(circle at top left,#ffec65,#e1c441,#e1c441);
}
.bg-cl-none {
    background-color: transparent;
}
.fw-bold {
    font-weight: 600;
}

.h2 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 62px;
}
.btn__group {
    display: flex;
}
.t-center {
    text-align: center;
}
.input-btn {
    display: flex;
    padding: 8px;
    margin: auto;
    max-width: 500px;
    border-radius: 8px;
    background-color: #fff;
}
.input-text {
    flex: 1;
    margin-right: 12px;
    outline: none;
    border: none;
    font-size: 2rem;
}

.footer {
    background-color: var(--cl-black);
    padding: 36px 24px;
    color: #fff;
}
.logo-footer-link {
    display: block;
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 36px;
    margin-bottom: 36px;
}
.social__group {
    display: flex;
    margin: 24px 0;
}
.icon__link {
    color: #000;
    display: block;
    min-width: 32px;
    min-height: 32px;
    padding: 8px 8px;
    margin: 8px 8px;
    font-size: 2.8rem;
    line-height: 2.8rem;
    text-decoration: none;
    background-color: var(--cl-brand);
    border-radius: 8px;
}
.icon__social {
    min-width: 32px;
    min-height: 32px;
    text-align: center;
}
.list-nav {
    list-style: none;
}

.list-nav-item {
    margin-bottom: 8px;
}
.list-nav-item:first-child {
    margin-bottom: 36px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--cl-white);
}
.list-nav-link {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
}
.list-nav-link:hover {
    color: #fff;
}